:root {
  --blog-font-merriweather: 'Merriweather', 'Times New Roman', serif;
  --blog-font-fira-code: 'Fira Code', 'Courier New', monospace;
  --blog-font-fira-sans: 'Fira Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.text-merriweather {
  font-family: var(--blog-font-merriweather);
}

.text-fira-code {
  font-family: var(--blog-font-fira-code);
}

.text-fira-sans {
  font-family: var(--blog-font-fira-sans);
}
